---
layout: redirectIndex
title: 布衣客
redirect: /index.html
refresh: 10
---

<link rel="stylesheet" type="text/css" href="css/jqcloud.css" />
<script type="text/javascript" src="js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="js/jqcloud-1.0.4.js"></script>
<script type="text/javascript">

		function rnd(start, end){
    		return Math.floor(Math.random() * (end - start) + start);
		}
      	var word_array = new Array();
	 	{% for tag in site.indexs %}
		 	{% if tag.tag %}
				word_array.push({text: "{{tag.site}}" ,link: "{{tag.url}}" ,weight: 16})
         	{% endif %}	
	  	{% endfor %}
	    {% for tag in site.indexs %}
    		{% if tag.tag %}
           		{% for post in site.tags.[tag.tag]  %} 
					word_array.push({text: "{{post.title}}" ,link:"{{post.url}}",weight:9})
            	{% endfor %}
    		{% endif %}
		{% endfor %}
  
      	$(function() {
			for(item in word_array){
				word_array[item].weight = word_array[item].weight + rnd(-4,4)
			}
        	$("#J_Tagcloud").jQCloud(word_array);
     	 });
</script>
<div id="home">
	<div id="J_Tagcloud" style="width: 100%; height: 520px;"></div>
</div>
