<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
   <meta name="apple-mobile-web-app-capable" content="yes" />
   <meta name="apple-mobile-web-app-status-bar-style" content="black" />
   <title>{{ page.title }}</title>
   {% if page.url == "/404.html" %}
      <meta http-equiv="refresh" content="5; url=/index.html">
   {% endif %}
   <meta name="author" content="intohole" />
   <link rel="stylesheet" href="/css/default.css" type="text/css" media="screen, projection" /> 
   {% if site.code_type %}
      <link rel="stylesheet" href="/css/code_{{site.code_type}}.css" typt="text/css">
   {%else%}
      <link rel="stylesheet" href="/css/code.css" typt="text/css">
   {% endif %}
   <link rel="icon" href="/images/head.jpg" type="image/x-icon" />  
   <!-- 评论多说加载 -->
   {% if site.comments.provider == 'duoshuo' %}
   <script type="text/javascript">
      var duoshuoQuery = {short_name:"{{ site.comments.duoshuo.short_name }}"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
    {% endif %}
     <!-- 多说评论script END -->
    
   <script type="text/javascript" charset="utf-8">
   // Mobile Safari in standalone mode
   if(("standalone" in window.navigator) && window.navigator.standalone){
	   
   	// If you want to prevent remote links in standalone web apps opening Mobile Safari, change 'remotes' to true
   	var noddy, remotes = true;
	
   	document.addEventListener('click', function(event) {
		
   		noddy = event.target;
		
   		// Bubble up until we hit link or top HTML element. Warning: BODY element is not compulsory so better to stop on HTML
   		while(noddy.nodeName !== "A" && noddy.nodeName !== "HTML") {
   	        noddy = noddy.parentNode;
   	    }
		
   		if('href' in noddy && noddy.href.indexOf('http') !== -1 && (noddy.href.indexOf(document.location.host) !== -1 || remotes))
   		{
   			event.preventDefault();
   			document.location.href = noddy.href;
   		}
	
   	},false);
   }
  
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  	ga('create', 'UA-98603111-1', 'auto');
  	ga('send', 'pageview');

   </script>
</head>
<body>
	
<div class="site">
  <div><pre class="nav margin-for-mobile">[{% for link in site.indexs %}{% if forloop.last  %}"<a class="atop" href='/{{ link.url }}' >{{ link.site }}</a>"{% else %}"<a class="atop" href='/{{ link.url }}' >{{ link.site }}</a>",{% endif %}{%  endfor %}]</pre></div>
  <br/>
  {% if page.page_type %}{% for link in site.indexs %}{% if link.tag == page.page_type %}
  <div id="home">
      <h1>{{ link.site }}</h1>
      <ul class="posts">
          {% for post in site.tags[link.tag] %}
                <li><span>{{ post.date | date: "%Y年%m月%d日" }}</span> &raquo; <a class="posturl" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
      </ul>
  </div>{%  endif %}{% endfor %}
  {% else %}
    {{ content }}
  {% endif %}
  
<div class="footer">
  <div class="post-info">
    <a href="/">首页</a>&nbsp;&nbsp;| &nbsp;
    {{ page.date | date: "%Y年%m月%d日" }} 
    {% if page.city %} 
      于 {{ page.city }}
    {% endif %}
  </div>
</div>

<a href="http://github.com/intohole" target="_blank">
	<img class="right-banner first" src="/images/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" />
</a>
</body>
</html>
