---
layout: default
---
<div id="post">
	<h1>{{ page.title }}</h1>
	<div class="copyright">
	作者: {{site.author}} | 可以转载, 但必须以超链接形式标明文章原始出处和作者信息及版权声明<br />
	网址: {{site.site_domain}}{{page.url}}
	</div>

	{{ content }}

	<div id="related">
	  <h2>相关内容</h2>
	  <ul class="posts">
	    {% for post in site.related_posts limit:5 %}
	      <li><span>{{ post.date |  date: "%Y年%m月%d日" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	<!-- Duoshuo Comment BEGIN -->
	{% if site.comments.provider == 'duoshuo' %}
		<div id="comments">
        	<div class="ds-thread" {% if page.id %}data-thread-key="{{ page.id }}"{% endif %}  data-title="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}"></div>
    	</div>
    {% endif %}
    <!-- Duoshuo Comment END -->
</div>
